* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

/* global variable */
:root {
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
}
/* animation */
@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(100px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.banner {
  font-size: 3rem;
  color: white;
  text-transform: capitalize;
}
.banner-a {
  animation: slideFromRight 5s ease-in-out;
}
.banner-b {
  animation: slideFromLeft 5s ease-in-out;
}

/* navbar */
.nav {
  position: fixed;
  height: 3.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  display: flex;
  list-style-type: none;
  padding-left: 2rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}
.nav-icon {
  font-size: 1.5rem;
  color: white;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-links {
  height: 0;
  overflow: hidden;
  display: inline-flex;
  margin-left: 50rem;
}
.show-nav {
  height: 50px;
}

.nav-links li > .active {
  border-bottom: 3px solid white;
}

.nav-links li {
  list-style-type: none;
  margin: 0 2rem;
}

/* Title */
.section-title {
  text-align: center;
  padding-top: 3.4rem;
}
.section-title h4 {
  font-size: 2rem;
  text-transform: capitalize;
}
.section-title h5 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
/* image */

.container {
  position: relative;
  display: inline-block;
}
.img {
  width: 7.5rem;
  margin: 0 1rem;
  height: 7rem;
  border-radius: 25%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  left: 1rem;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 80%;
  opacity: 0;
  background: rgba(14, 13, 13, 0.9);
  transition: 0.5s ease;
  border-radius: 25%;
}

.container:hover .overlay {
  opacity: 1;
}
/* end of image */

/* card */
.card-display {
  display: inline-block;
}
.card {
  margin: 4rem 1rem;
  border-radius: 2rem;
  background: lightgray;
  width: 15rem;
  height: 30rem;
  box-shadow: 0 0 5px 0 white;
}
.card:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
  box-shadow: 0 0 20px 0 white;
}
.card-image {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  width: 100%;
  height: 70%;
}
.card-info {
  color: black;
  font-weight: bold;
}
.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.card-subTitle {
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}
.card-link {
  text-decoration: none;
}
/* end of card */
/* button */
.btn {
  padding: 10px 80px;
  border: solid 3px rgba(20, 20, 20, 1);
  color: black;
}
.btn:hover {
  color: white;
  background: rgba(20, 20, 20, 1);
}
/* pages */
.home {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/background.jpg") center/cover no-repeat fixed;
  /* let items to be center */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about {
  width: 100vw;
  height: 100vh;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: black;
}

@media screen and (max-width: 772px) {
  .about {
    width: auto;
    height: 140vh;
  }
  .img {
    margin-bottom: 1rem;
  }
  .overlay {
    height: 85%;
  }
}

.project {
  width: 100vw;
  height: 100vh;
  color: white;
  background: rgba(20, 20, 20, 1);
}
@media screen and (max-width: 1350px) {
  .project {
    width: auto;
    height: 170vh;
  }
  .card {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 772px) {
  .project {
    width: auto;
    height: 240vh;
  }
}
@media screen and (max-width: 576px) {
  .project {
    width: auto;
    height: 390vh;
  }
}
.contact {
  width: 100vw;
  height: 40vh;
  color: white;
  background: black;
}
